body {
    background: rgb(218, 183, 137);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    text-align: center;
    color: white;

}

nav {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: brown;
    font-size: 18px;
    margin: 0 10px;
}
p {
    color: brown
}